<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Duck Project</title>
    <meta name="description" content="EvolveU and Duck Labs present a PBL Experiment!">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="https://brennanbrown.github.io/duck-project">
    <link rel="alternate" type="application/rss+xml" title="Untitled Duck Project" href="/feed.xml">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&family=Work+Sans:wght@500&display=swap" rel="stylesheet"> 
</head>