<header class="full-width center">
    <!-- HEADER -->
    <h1 class="site-title"><a class="site-title-a" href="https://brennanbrown.github.io/duck-project"><%= pageTitle %></a></h1>
    <!-- NAVIGATION -->
    <%- include('./navigation') %>
    <p class=quote><q><em>Be like a duck, paddling and working very hard inside the water, but what everyone sees is a smiling and calm face.</q> ― Manoj Arora</p></em>
</header>