<h2>About Me</h2>
<img src="/img/avatar.png" alt="Brennan's Face" height="150" width="150">
<p>Hi, I'm Brennan. I'm a 24-year-old blogger and junior developer from Winnipeg, Manitoba and currently residing in Calgary, Alberta. My current main focuses in my writing include self-development, community, and my experiences with programming.  </p>


<h2>Contact Me</h2>
<p>Interested in having a chat? Feel free to shoot me a DM anytime on <a href="https://twitter.com/brennankbrown/">Twitter.</a> I'm also always updating project on <a href="https://github.com/brennanbrown/">GitHub</a> if you wanna follow me there!</p>