<aside class="menu col-sm-12 col-md-3">

    <h2 class="text-center">About Me</h2>
    <img src="/img/avatar.png" alt="Brennan's Face" height="150" width="150">
    <p class="mt-4">I am a DevOps Engineer with experience in implementing continuous integration and deployment (CI/CD) pipelines, monitoring and logging systems, and 
        infrastructure automation. I have worked with various tools such as Jenkins, Ansible, Docker, and Kubernetes, as well as cloud platforms such as AWS and Azure. 
        My expertise lies in designing and maintaining scalable, secure, and highly available environments.</p>


    <h2 class="mt-4 text-center">Contact Me</h2>
    <p class="mb-5">Interested in having a chat? Feel free to shoot me a DM anytime on
        <a href="https://za.linkedin.com/in/malcolm-fraser-98406361">LinkedIn.</a> I'm also always updating project on
        <a href="https://github.com/corvusfaber/">GitHub</a> if you wanna follow me there! <br>
        <small>For business inquries, please feel free to
            send me an e-mail at <mark><a class=""
                    href="mailto:malcolmfrsr@gmail.com">malcolmfrsr@gmail.com</a></mark></small>
    </p>


</aside>
</div>
