<!-- FOOTER -->
<footer class="container-fluid full-width copyright center pt-4">
    <p>&copy; 2020 <a href="https://github.com/corvusfaber/node-project"><strong>Untitled Duck Project</strong></a> ―
        Deployed in AWS.
</footer>