<!-- FOOTER -->
<footer class="container-fluid full-width copyright center">
    <p>&copy; 2020 <a href="https://brennanbrown.github.io/duck-project"><strong>Untitled Duck Project</strong></a> ― Powered by Quacks! 
    <br> Created with ❤️ by Brennan K. Brown /
    Duck Vectors by <a href="https://www.vecteezy.com/free-vector/animal">Vecteezy</a></p>
</footer>