<header class="jumbotron jumbotron-fluid container-fluid full-width center align-middle">
    <!-- HEADER -->
    <h1 class="site-title font-weight-bold mb-5"><a class="site-title-a" href="/"><%= pageTitle %></a></h1>
    <!-- NAVIGATION -->
    <%- include('./navigation') %>
    <p class=quote><q><em>Be like a duck, paddling and working very hard inside the water, but what everyone sees is a smiling and calm face.</q> ― Manoj Arora</p></em>
</header>