<header class="jumbotron jumbotron-fluid container-fluid full-width center align-middle">
    <!-- HEADER -->
    <h1 class="site-title font-weight-bold mb-5"><a class="site-title-a" href="/"><%= pageTitle %></a></h1>
    <p class=quote><q><em>Success lies in the completion of a project; how people respond to it is an added bonus.</q> ― Rick Rubin</p></em>
</header>
    <!-- NAVIGATION -->
    <%- include('./navigation') %>