<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= siteName %> | <%= pageTitle %></title>
    <meta name="description" content="EvolveU and Duck Labs present a PBL Experiment!">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="canonical" href="https://brennanbrown.github.io/duck-project">
    <link rel="alternate" type="application/rss+xml" title="Untitled Duck Project" href="/feed.xml">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&family=Work+Sans:wght@500&display=swap" rel="stylesheet"> 
    <!-- https://favicon.io -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>