<main class="main col-sm-12 col-md-9">

    <h1 id="welcome">Welcome to Brennan's Duck Portfolio!</h1>

    <p>Hello! 😊 Thank you for visiting my web portfolio—it means a lot to me. I have built this website from scratch in the past three weeks, using several different technologies and frameworks. My initial commit to the project&#39;s repository was May 19th, and it was presented on June 8th.</p>
    
    <p>For the front-end, I utilized the <a href="https://getbootstrap.com/">Bootstrap</a> toolkit and <a href="https://jquery.com/">jQuery</a> framework in order to have the foundations of a solid, responsive mobile-first design. The rest of the JavaScript is vanilla.</p>
    
    <p>For the back-end, I am using <a href="https://nodejs.org/en/">node.js</a> with the <a href="https://expressjs.com/">Express</a> framework on top, as well as <a href="https://ejs.co/">Embedded JavaScript Templating</a> as my template engine.</p>

    <p>Additionally, I am using the NPM packages <a href="https://eslint.org/">ESLint</a> and <a href="https://www.npmjs.com/package/prettify">Prettify</a> for code analysis and pattern maintenance, the packages <a href="https://mochajs.org/">Mocha</a> and <a href="https://www.chaijs.com/">Chai</a> for testing, and the packages <a href="https://www.npmjs.com/package/http-errors">http-errors</a> and <a href="https://www.npmjs.com/package/body-parser">body-parser</a> for validation.</p>

    <p>Finally, this website is currently being deployed on <a href="https:/heroku.com">Heroku</a> under a free Dyno plan, so I apologize for any issues regarding speed or connectivity!</p>
    
    <h3 id="explanation">Why This?</h3>

    <p>To further my knowledge regarding back-end web technologies creating something that will be beneficial to my career. A demonstrative, visually-appealing website that exemplifies my talents and character.</p>

    <h3 id="pages">Current Pages</h3>
    
    <p>Currently, there are three separate pages on this website to demonstrate different features and functionality within the scope of the described framework:</p>
    
    <ul>
        <li><a class="font-weight-bold" href="/docs">Docs:</a> is an example of a static webpage and has the project&#39;s README instructions to download and deploy your own version of this open-sourced website.</li>
        <li><a class="font-weight-bold" href="/project">Projects:</a> is an example of a dynamic webpage that parses through a local .JSON file and pulls data to display in HTML.</li>
        <li><a class="font-weight-bold" href="/feedback">Feedback:</a> is also an example of a dynamic webpage, however it also allows the client/end-user to add to the local .JSON file, and has proper error-handling and validation of respective input fields.</li>
    </ul>
    
    <h2 id="more-information">More Information</h2>
    
    <p>This project is a collaboration between <a href="http://ducklabs.com/">Duck Labs</a> and <a href="https://www.evolveu.ca/">EvolveU</a> that aims to teach students the entirety of the spectrum of full-stack web development, starting with the visuals and UX of the front-end, and ending with the database and server communication of the back-end, with the result being a complete and functional website.</p>
    
    <p>Specifically, this work is meant to exemplify the pedagogy of <strong>Project-based Learning</strong>. PBL is an instructional methodology that encourages students to learn and apply knowledge and skills through an engaging experience. PBL presents opportunities for deeper learning in-context and for the development of important skills tied to career readiness.</p>
    

</main>