<nav>
    <p class="site-nav"><a href="/about">About</a> / <a href="/author">Author</a> / <a href="/feed.xml">RSS</a> / <a href="http://wandernotebook.com">Blog</a> / <a href="/license">License </a> </p>
</nav>