<nav>
    <span class="site-nav font-weight-bold">
        <a href="/docs">Docs</a> / 
        <a href="/feedback">Feedback</a> / 
        <a href="/project">My Projects</a> / 
        <a href="http://notebook.casa">My Blog</a> / 
        <a href="https://github.com/brennanbrown/duck-project/blob/master/LICENSE">License </a> 
    </span>
</nav>