<nav>
    <span class="site-nav font-weight-bold">
        <a href="/resume.pdf">Resume</a> /
        <a href="/project">My Projects</a> /
        <a href="https://github.com/brennanbrown/duck-project/blob/master/LICENSE">License </a>
    </span>
</nav>