<nav>
    <p class="site-nav"><a href="/">Home</a> / <a href="/https://github.com/brennanbrown/duck-project/blob/master/README.md">About</a> / <a href="/feedback">Feedback</a> / <a href="https://github.com/brennanbrown/duck-project/issues">Issues</a> / <a href="/feed.xml">RSS</a> / <a href="http://wandernotebook.com">Blog</a> / <a href="/https://github.com/brennanbrown/duck-project/blob/master/LICENSE">License </a> </p>
</nav>