<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Duck Project</title>
    <meta name="description" content="EvolveU and Duck Labs present a PBL Experiment!">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="https://brennanbrown.github.io/duck-project">
    <link rel="alternate" type="application/rss+xml" title="Untitled Duck Project" href="/feed.xml">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&family=Work+Sans:wght@500&display=swap" rel="stylesheet"> 
</head>
<body>
<header class="full-width center">
    <!-- HEADER -->
    <h1 class="site-title"><a class="site-title-a" href="https://brennanbrown.github.io/duck-project"><%= pageTitle %></a></h1>
    <!-- NAVIGATION -->
    <nav>
        <p class="site-nav"><a href="/about">About</a> / <a href="/author">Author</a> / <a href="/feed.xml">RSS</a> / <a href="http://wandernotebook.com">Blog</a> / <a href="/license">License </a> </p>
    </nav>

    <p class=quote><q><em>Be like a duck, paddling and working very hard inside the water, but what everyone sees is a smiling and calm face.</q> ― Manoj Arora</p></em>
</header>

<div class="spacer-4">&nbsp;</div>

<!-- MAIN -->
<main class="main">

    <h1>Under Construction, yo!</h1>

    <p>Gochujang tacos laboris fashion axe banh mi photo booth. Waistcoat magna bitters, gochujang humblebrag hexagon tempor lorem forage godard flannel ullamco food truck. Single-origin coffee organic pour-over qui. Aesthetic roof party lorem, voluptate fashion axe 3 wolf moon neutra flexitarian culpa est ennui pour-over dolore ullamco subway tile. Swag veniam pariatur polaroid. Quinoa franzen qui +1 raclette.</p>

    <p>Actually kombucha messenger bag artisan. Esse mustache distillery celiac fugiat, irony raw denim leggings selvage. PBR&B anim exercitation, VHS fingerstache yuccie chillwave. Lyft succulents incididunt vegan. Eiusmod kinfolk umami, elit deep v wayfarers selfies glossier you probably haven't heard of them microdosing bushwick etsy.</p>
        
    <p>Normcore chambray raw denim kinfolk. Occaecat pickled wayfarers freegan selvage veniam eu edison bulb you probably haven't heard of them aesthetic listicle hashtag kickstarter af tofu. Kale chips synth nostrud fam photo booth bitters in mlkshk ut. Cloud bread gochujang taiyaki deep v poutine. Etsy chia typewriter hoodie, sunt irure microdosing kinfolk officia pinterest hexagon shoreditch lumber you probably haven't heard of them.</p>

    <p><strong>Here's a List:</strong></p>

    <ul>
        <li>Est swag eiusmod seitan, </li>
        <li>Humblebrag tofu bespoke hoodie,</li>
        <li>Banjo messenger bag sint vaporware.</li>
    </ul>

</main>

<div class="spacer-2">&nbsp;</div>

<!-- MENU -->
<aside class="menu">

    <h2>About Me</h2>
    <img src="/img/avatar.png" alt="Brennan's Face" height="150" width="150">
    <p>Hi, I'm Brennan. I'm a 24-year-old blogger and junior developer from Winnipeg, Manitoba and currently residing in Calgary, Alberta. My current main focuses in my writing include self-development, community, and my experiences with programming.  </p>


    <h2>Contact Me</h2>
    <p>Interested in having a chat? Feel free to shoot me a DM anytime on <a href="https://twitter.com/brennankbrown/">Twitter.</a> I'm also always updating projects on <a href="https://github.com/brennanbrown/">GitHub</a> if you wanna follow me there!</p>
  


</aside>

<div class="spacer-2">&nbsp;</div>

<!-- FOOTER -->
<footer class="full-width copyright center">
    <p>&copy; 2020 <a href="https://brennanbrown.github.io/duck-project"><strong>Untitled Duck Project</strong></a> ― Powered by Quacks! 
    <br> Created with ❤️ by Brennan K. Brown /
    Duck Vectors by <a href="https://www.vecteezy.com/free-vector/animal">Vecteezy</a></p>
</footer>


</body>
