
<div class="container docs">
    <!-- PROJECT LOGO -->
    <p><br /></p>
    <p align="center">
        <a href="https://github.com/brennanbrown/duck-project">
        <img src="/img/logo.png" alt="Logo" width="80" height="80">
        </a>
    <h3 align="center">Untitled Duck Project</h3>
    <p align="center">
        EvolveU and Duck Labs present a PBL Experiment!
        <br />
        <a href="https://github.com/brennanbrown/duck-project/blob/master/README.md""><strong>Explore the docs »</strong></a>
        <br />
        <br />
        <a href="https://github.com/brennanbrown/duck-project"">View Demo</a>
        ·
        <a href="https://github.com/brennanbrown/duck-project/issues">Report Bug</a>
        ·
        <a href="https://github.com/brennanbrown/duck-project/issues">Request Feature</a>
    </p>
    </p>
    <!-- TABLE OF CONTENTS -->
    <h2 id="table-of-contents">Table of Contents</h2>
    <ul>
        <li>
            <a href="#about-the-project">About the Project</a>
            <ul>
                <li><a href="#built-with">Built With</a></li>
            </ul>
        </li>
        <li>
            <a href="#getting-started">Getting Started</a>
            <ul>
                <li><a href="#prerequisites">Prerequisites</a></li>
                <li><a href="#installation">Installation</a></li>
            </ul>
        </li>
        <li><a href="#usage">Usage</a></li>
        <li><a href="#roadmap">Roadmap</a></li>
        <li><a href="#contributing">Contributing</a></li>
        <li><a href="#license">License</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#acknowledgements">Acknowledgements</a></li>
    </ul>
    <!-- ABOUT THE PROJECT -->
    <h2 id="about-the-project">About The Project</h2>
    <p><img src="/src/screenshot.png" alt="Project Screenshot" title="Placeholder Screenshot"></p>
    <p>This project is a collaboration between <a href="http://ducklabs.com/">Duck Labs</a> and <a href="https://www.evolveu.ca/">EvolveU</a> that aims to teach students the entirety of the spectrum of full-stack web development, starting with the visuals and UX of the front-end, and ending with the database and server communcation of the back-end, with the result being a complete and functional website.</p>
    <p>Specifically, this work is meant to exemplify the pedagogy of <strong>Project-based Learning</strong>. PBL is an instructional methodology that encourages students to learn and apply knowledge and skills through an engaging experience. PBL presents opportunities for deeper learning in-context and for the development of important skills tied to college and career readiness.</p>
    <p><strong>Why Project-based Learning?</strong></p>
    <p>In essence, the PBL model consists of these seven characteristics:</p>
    <ul>
        <li>Focuses the student on a big open-ended question, challenge, or problem to research and respond to and/or solve.</li>
        <li>Brings what students should academically know, understand, and be able to do into the equation.</li>
        <li>Is inquiry-based.</li>
        <li>Uses 21st-century skills such as critical thinking, communication, collaboration, and creativity, among others.</li>
        <li>Builds student choice into the process.</li>
        <li>Provides opportunities for feedback and revision of the plan and the project.</li>
        <li>Requires students to present their problems, research process, methods, and results.</li>
    </ul>
    <h3 id="built-with">Built With</h3>
    <p>This section should list any major frameworks that you built your project using. Leave any add-ons/plugins for the acknowledgements section. Here are a few examples.</p>
    <ul>
        <li><a href="https://getbootstrap.com">Bootstrap</a></li>
        <li><a href="https://nodejs.org/en/ex">node.js</a></li>
        <li><a href="https://expressjs.com/">express</a></li>
        <li><a href="https://ejs.co/">EJS</a></li>
    </ul>
    <!-- GETTING STARTED -->
    <h2 id="getting-started">Getting Started</h2>
    <p>For development, you will only need Node.js and a node global package, Yarn, installed in your environement.</p>
    <h3 id="prerequisites">Prerequisites</h3>
    <ul>
        <li>
            <h4 id="node-installation-on-windows">Node installation on Windows</h4>
            <p>Just go on <a href="https://nodejs.org/">official Node.js website</a> and download the installer.
                Also, be sure to have <code>git</code> available in your PATH, <code>npm</code> might need it (You can find git <a href="https://git-scm.com/">here</a>).
            </p>
        </li>
        <li>
            <h4 id="node-installation-on-ubuntu">Node installation on Ubuntu</h4>
            <p>You can install nodejs and npm easily with apt install, just run the following commands.</p>
            <pre><code>$ sudo apt <span class="hljs-keyword">install</span> nodejs
        $ sudo apt <span class="hljs-keyword">install</span> npm
        </code></pre>
        </li>
        <li>
            <h4 id="other-operating-systems">Other Operating Systems</h4>
            <p>You can find more information about the installation on the <a href="https://nodejs.org/">official Node.js website</a> and the <a href="https://npmjs.org/">official NPM website</a>.</p>
        </li>
    </ul>
    <p>If the installation was successful, you should be able to run the following command.</p>
    <pre><code>$ <span class="hljs-keyword">node</span> <span class="hljs-title">--version</span>
        v8.<span class="hljs-number">11.3</span>
        
        $ npm --<span class="hljs-keyword">version</span>
        <span class="hljs-number">6.1</span>.<span class="hljs-number">0</span>
        </code></pre>
    <p>If you need to update <code>npm</code>, you can make it using <code>npm</code>! Cool right? After running the following command, just open again the command line and be happy.</p>
    <pre><code>$ <span class="hljs-built_in">npm</span> install <span class="hljs-built_in">npm</span> -g
        </code></pre>
    <hr>
    <h2 id="installation">Installation</h2>
    <pre><code><span class="hljs-symbol">$</span> git clone https:<span class="hljs-comment">//github.com/brennanbrown/duck-project.git</span>
        <span class="hljs-symbol">$</span> cd duck-project
        <span class="hljs-symbol">$</span> npm i
        </code></pre>
    <h2 id="configure-app">Configure app</h2>
    <p>Open <code>a/nice/path/to/a.file</code> then edit it with your settings. You will need:</p>
    <ul>
        <li>A setting;</li>
        <li>Another setting;</li>
        <li>One more setting;</li>
    </ul>
    <h2 id="running-the-project">Running the project</h2>
    <pre><code>$ <span class="hljs-built_in">npm</span> start
        </code></pre>
    <!-- USAGE EXAMPLES -->
    <h2 id="usage">Usage</h2>
    <p>Use this space to show useful examples of how a project can be used. Additional screenshots, code examples and demos work well in this space. You may also link to more resources.</p>
    <p><em>For more examples, please refer to the <a href="https://example.com">Documentation</a></em></p>
    <!-- ROADMAP -->
    <h2 id="roadmap">Roadmap</h2>
    <p>See the <a href="https://github.com/brennanbrown/duck-project/issues">open issues</a> for a list of proposed features (and known issues).</p>
    <!-- CONTRIBUTING -->
    <h2 id="contributing">Contributing</h2>
    <p>Contributions are what make the open source community such an amazing place to be learn, inspire, and create. Any contributions you make are <strong>greatly appreciated</strong>.</p>
    <ol>
        <li>Fork the Project</li>
        <li>Create your Feature Branch (<code>git checkout -b feature/AmazingFeature</code>)</li>
        <li>Commit your Changes (<code>git commit -m &#39;Add some AmazingFeature&#39;</code>)</li>
        <li>Push to the Branch (<code>git push origin feature/AmazingFeature</code>)</li>
        <li>Open a Pull Request</li>
    </ol>
    <!-- LICENSE -->
    <h2 id="license">License</h2>
    <p>Distributed under the MIT License. See <code>LICENSE</code> for more information.</p>
    <!-- CONTACT -->
    <h2 id="contact">Contact</h2>
    <p>Brennan K. Brown - <a href="https://twitter.com/brennanbrown">@brennankbrown</a> - brennankbrown@pm.me</p>
    <p>Project Link: <a href="https://github.com/brennanbrown/duck-project">https://github.com/brennanbrown/duck-project</a></p>
    <!-- ACKNOWLEDGEMENTS -->
    <h2 id="acknowledgements">Acknowledgements</h2>
    <ul>
        <li><a href="https://github.com/othneildrew/Best-READ.ME-Template">README Template</a></li>
        <li><a href="https://commons.wikimedia.org/wiki/File:Duck_Sotka1.svg">Logo Source</a></li>
        <li><a href="https://www.npmjs.com/package/prettify">Prettify</a></li>
        <li><a href="https://eslint.org/">ESLint</a></li>
        <li><a href="https://gist.github.com/dan-auth0/2fb996dc8080eaae0900100bf1c3fa26">auto0 .gitignore</a></li>
        <li><a href="https://favicon.io/">Favicon.io</a></li>
        <li><a href="https://shields.io">Img Shields</a></li>
        <li><a href="https://choosealicense.com">Choose an Open Source License</a></li>
        <li><a href="https://pages.github.com">GitHub Pages</a></li>
    </ul>
    <!-- MARKDOWN LINKS & IMAGES -->
    <!-- https://www.markdownguide.org/basic-syntax/#reference-style-links -->

</div>