<body>

    <div class="container-fluid">
        <div class="row">
            <!-- MAIN -->
            <%- include("../layout/partials/main") %>

            <!-- MENU -->
            <%- include("../layout/partials/about") %>
        </div>

    </div>

    <hr class="separator">

    <%- include("../layout/partials/beeminder") %>

</body>