
<body>

<div class="container-fluid">
    <div class="row">
        <!-- MAIN -->
        <%- include("../layout/partials/main") %>

        <!-- MENU -->
        <%- include("../layout/partials/about") %>
    </div>
    
</div>

<%- include("../layout/partials/beeminder") %>

<%- include("../layout/partials/disqus") %>

</body>
