
*, *::before, *::after {
    box-sizing: border-box;
}

.full-width {
    background-color: #333;
    color: #fff;
    padding-bottom: 10px;
}

.full-width a {
    color: #eee;
}

.full-width a:visited {
    color: #eee;
}

a {
    color: #002;
}

a:hover {
    color: #aaa;
}

/* MAIN CSS */

body {
    /* background-image: url("/img/bg.png")!important; */
    font-size: 120%;
}

img {
    max-width:100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: inline-block;
    height: 300px;
    background-image: url("/img/header.jpg")!important;
    background-size: 100%;
    font-size: 120%;
}

nav {
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.docs {
    text-align: left;
}

p, ul, ol, li{
    font-family: 'Vollkorn', serif;
}

h1, h2, h3, h4, .site-nav {
    font-family: 'Noto Sans', sans-serif;
}

.site-title {
    font-size: 4rem;
}