*,
*::before,
*::after {
    box-sizing: border-box;
}

.full-width {
    background-color: #333;
    color: #fff;
    padding-bottom: 10px;
}

.full-width a {
    color: #fff;
}

.full-width a:visited {
    color: #fff;
}

.full-width a:hover {
    color: #ccc;
    text-decoration: none;
    background-color: none;
}

a {
    color: #002;
    text-decoration: underline;
}

a:hover {
    color: #666;
}



/* MAIN CSS */

body {
    font-size: 120%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: inline-block;
    height: 130%;
    background-image: url("/img/header.jpg") !important;
    background-position: center center;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    font-size: 120%;
}

nav {
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.docs {
    text-align: left;
}

.project a {
    text-decoration: none;
}

.newsletter {
    margin-bottom: -25px;
}

p,
ul,
ol,
li {
    font-family: 'Arial', serif;
}

h1,
h2,
h3,
h4,
.site-nav {
    font-family: 'Arial', sans-serif;
}

.site-title-a {
    font-size: 4rem;
    text-decoration: none;
}

/* Credit: https://css-tricks.com/examples/hrs/ */

.separator {
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.separator:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}