/* Minimal CSS - keeping only background images */
body {
    background-image: url("/img/bg.png");
}

header {
    background-image: url("/img/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Custom fonts if desired */
p, ul, ol, li {
    font-family: 'Vollkorn', serif;
}

h1, h2, h3, h4, .site-nav {
    font-family: 'Noto Sans', sans-serif;
}